header{

    background-color: #f2f2f2;
    text-align: center;
    font-size: 24px;
    color: #333333;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #999999;
}
main{

    background-color: #fff7e6;
    color: rgb(255, 102, 0);
    font-size: 18px;
    font-weight: bold;
}
main a {
    text-decoration: none;

}
main div p{
    line-height: 1.6;
    letter-spacing: 1px;
    color: #444444;
}

footer{

    background-color: #f2f2f2;
    font-size: 14px;
    color: #333333;
    line-height: 1.5;
    /* text-decoration: underline; */
    border-top: 1px dashed #999999;
}